/* Activity List ----------- */

.activity-list-container1 .activity {
    display: inline-grid !important;
    max-width: 350px !important;
    min-width: 250px !important;
    width: 100% !important;
    overflow: hidden !important;
}

.activity-list-container1 .image-container {
    height: auto !important;
    width: auto !important;
    border-radius: initial !important;
}

.activity-list-container1 .image-container img {
    display: block !important;
    margin: auto !important;
    width: 267px !important;
    height: 235px !important;
}

.activity-list-container1 .info-container {
    max-width: initial !important;
    text-align: center !important;
    max-height: 150px !important;
    min-height: 100px !important;
}

.activity-list-container1 .activity .title {
    margin: 10px 0 10px 0 !important;
}

.activity-list-container1 .activity .description {
    text-align: left !important;
}

.activity-list-container1 .ct-points-color {
    margin: 5px 0 5px 0 !important;
}