@font-face {
    font-family: 'Knockout';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    src: url("./Knockout-49.otf") format("opentype");  
}
body {
        background-color: #F3F4F5 !important;
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 768px) {

    .widget .header {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 0px !important;
        position: static !important;
        width: 100% !important;
        height: 0px !important;
        left: 0px !important;
        top: 32px !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin: 0px !important;
        background-color: #F3F4F5 !important;
        border-bottom: none !important;
      }

      .widget .header h1 {
        position: static !important;
        width: 100% !important;
        height: 19px !important;
        left: 0px !important;
        top: 0px !important;
        font-family: 'Knockout' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 24px !important;
        line-height: 80% !important;
        text-transform: uppercase !important;
        font-feature-settings: 'ss02' on !important;
        color: #000000 !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin: 16px 0px !important;
        padding: 0px !important;
      }

      .widget .container {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 0% !important;
        position: static !important;
        width: 100% !important;
/*         height: 246px !important; */
        left: 0px !important;
        top: 91px !important;
        flex: none !important;
        order: 1 !important;
        flex-grow: 0 !important;
        margin: 40px 0px !important;
        height: auto !important;
      }
    
      #activity-list-v2 ul{
        display: flex !important;
        flex-direction: row !important;
        align-items: flex-start !important;
        padding: 0px !important;
        position: static !important;
        width: 100% !important;
/*         height: 246px !important; */
        left: 0px !important;
        top: 0px !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin: 0px 0px !important;
        height: auto !important;
        flex-wrap: wrap !important;
      }

      #activity-list-v2 > div.container > ul > li {
        margin-top: 1% !important;
        border-radius: 0 0 4px 4px !important;
        border-bottom: 1px solid #bbb !important;
    }

    #activity-list-v2 .activity  {
      display: flex !important;
      flex-direction: column !important;
      padding: 0px 0px 16px !important;
      position: static !important;
      width: 100% !important;
      height: 246px !important;
      left: 0px !important;
      top: 0px !important;
      background: #FFFFFF !important;
      border-radius: 0px 0px 4px 4px !important;
      flex: none !important;
      order: 1 !important;
      align-self: stretch !important;
      flex-grow: 0 !important;
      margin: 0px 0px !important;
      border-bottom: none !important;
       /*margin-left: 10px !important;*/
          display: inline-grid;
    }

    #activity-list-v2 .image-container {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      padding: 5px !important;
      position: static !important;
      width: 291px !important;
      height: 174px !important;
      left: calc(50% - 323px/2) !important;
      top: 0px !important;
      flex: none !important;
      order: 0 !important;
      align-self: stretch !important;
      flex-grow: 0 !important;
/*         margin: 8px 0px !important; */
      border-radius: 0px !important;
      background-color: inherit !important;
    }
 
 }

@media only screen and (min-width: 768px) { 
    .widget .header {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 0px !important;
        position: static !important;
        width: 1001px !important;
        height: 0px !important;
        left: 0px !important;
        top: 32px !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin: 0px !important;
        background-color: #F3F4F5 !important;
        border-bottom: none !important;
      }

      .widget .header h1 {
        position: static !important;
        width: 1001px !important;
        height: 19px !important;
        left: 0px !important;
        top: 0px !important;
        font-family: 'Knockout' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 24px !important;
        line-height: 80% !important;
        text-transform: uppercase !important;
        font-feature-settings: 'ss02' on !important;
        color: #000000 !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin: 16px 0px !important;
        padding: 0px !important;
      }

      .widget .container {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        padding: 0px 0px 1px 1px !important;
        position: static !important;
        width: 1001px !important;
/*         height: 246px !important; */
        left: 0px !important;
        top: 91px !important;
        flex: none !important;
        order: 1 !important;
        flex-grow: 0 !important;
        margin: 40px 0px !important;
        height: auto !important;
      }
    
      #activity-list-v2 ul{
        display: flex !important;
        flex-direction: row !important;
        align-items: flex-start !important;
        padding: 0px !important;
        position: static !important;
        width: 1001px !important;
/*         height: 246px !important; */
        left: 0px !important;
        top: 0px !important;
        flex: none !important;
        order: 0 !important;
        flex-grow: 0 !important;
        margin: 0px 0px !important;
        height: auto !important;
        flex-wrap: wrap !important;
      }

      #activity-list-v2 > div.container > ul > li {
        margin-top: 1% !important;
    }

    #activity-list-v2 .activity  {
      display: flex !important;
      flex-direction: column !important;
      padding: 0px 0px 16px !important;
      position: static !important;
      width: 323px !important;
      height: 246px !important;
      left: 0px !important;
      top: 0px !important;
      background: #FFFFFF !important;
      border-radius: 0px 0px 4px 4px !important;
      flex: none !important;
      order: 1 !important;
      align-self: stretch !important;
      flex-grow: 0 !important;
      margin: 0px 0px !important;
      border-bottom: none !important;
       /*margin-left: 10px !important;*/
          display: inline-grid;
    }

    #activity-list-v2 .image-container {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      padding: 15px !important;
      position: static !important;
      width: 291px !important;
      height: 174px !important;
      left: calc(50% - 323px/2) !important;
      top: 0px !important;
      flex: none !important;
      order: 0 !important;
      align-self: stretch !important;
      flex-grow: 0 !important;
/*         margin: 8px 0px !important; */
      border-radius: 0px !important;
      background-color: inherit !important;
    }
}


      
#activity-list-v2 {
      background-color: #F3F4F5 !important;
      overflow: hidden !important;
      text-align: unset !important;
}
      

      
      #activity-list-v2 .image-container img {
        position: static !important;
        width: 291px !important;
        height: 174px !important;
        left: 16px !important;
        top: 16px !important;
        flex: none !important;
        order: 0 !important;
        align-self: stretch !important;
        flex-grow: 0 !important;
/*         margin: 10px 0px !important; */
      }
      #activity-list-v2 .info-container  {
        display: contents !important;
/*         display: flex !important;
        flex-direction: column !important; */
        align-items: flex-start !important;
        padding: 0px !important;
        position: static !important;
        width: 294px !important;
        height: 16px !important;
        left: calc(50% - 294px/2) !important;
        top: 214px !important;
        flex: none !important;
        order: 1 !important;
        flex-grow: 0 !important;
        margin: 0px !important;
/*         margin-left: 20px !important; */
        max-width: 100% !important
      }
      #activity-list-v2 .activity .title, .ct-link-color {
        position: static !important;
        height: 16px !important;
        left: 0px !important;
        top: 0px !important;
        font-family: 'Knockout' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 20px !important;
        line-height: 80% !important;
        text-transform: uppercase !important;
        font-feature-settings: 'ss02' on !important;
        color: #000000 !important;
        flex: none !important;
        order: 0 !important;
        align-self: stretch !important;
        flex-grow: 0 !important;
        margin: 0px !important;
        text-align: left !important;
        margin-left: 10px !important;
        float: left !important;
      }
      #activity-list-v2 > div.container > ul > li > div.info-container > div {
        display: none;
      }
       #activity-list-v2 > div.header.ct-header-color {
            margin-bottom: 80px !important;
       }
        #activity-list-v2 > div.container > ul > li:not(:last-child) {
            margin-right: 1% !important;
        }
        
        #activity-list-v2 .activity:hover {
          box-shadow: 0 0 0 1px #000 !important;
        }
        #activity-list-v2 .point-value.completed {
            position: absolute !important;        
        }
        #activity-list-v2 .point-value.completed .fa-check-circle {
            margin-left: 18px !important;
            margin-right: 0px !important;
        }
        #activity-list-v2 .points-container {
           float: none !important;
           text-align: left !important;
/*            position: absolute !important;         */
        }
#activity-list-v2 .activity .title {
    margin-top:20px !important;   
}
