@font-face {
    font-family: 'Knockout';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    src: url("./Knockout-49.otf") format("opentype");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    src: url("./Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    src: url("./RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    src: url("./SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    src: url("./SF-Pro-Text-Regular.otf") format("opentype");
}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (max-width: 500px) {
    .widget .container {
        padding: 10px 10px 10px 10px !important;
    }

    #redeem-v2 h2 {
        width: 100% !important;
        height: auto !important;
        font-family: 'Knockout' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 24px !important;
        line-height: 80% !important;
        text-transform: uppercase !important;
        font-feature-settings: 'ss02' on !important;
        color: #000000 !important;
        padding-bottom: 0px !important;
    }

    #redeem-v2 .left {
        width: 100% !important;
        height: auto !important;
    }

    #redeem-v2 .left img {
        width: 100% !important;
        height: auto !important;
    }

    #redeem-v2 #details .description,
    #redeem-v2 #review .email-address-info,
    #redeem-v2 #confirmation .explain-redeem-success {
        width: 100% !important;
        height: auto !important;

        border: none !important;
        padding: 0 !important;
        margin: 0 !important;

        font-family: 'SF Pro Text' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 120% !important;
    }

    #redeem-v2 #details .description {
        margin-top: 30px !important;
    }

    #redeem-v2 .right {
        position: relative !important;
        width: 100% !important;
        height: auto !important;
    }

    .submit button.btn {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 12px 20px !important;
        gap: 8px !important;
        width: 100% !important;
        height: auto !important;
        background: rgba(25, 28, 35, 0.9) !important;
        border-radius: 4px !important;

        font-family: 'Roboto Condensed' !important;
        text-transform: capitalize !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 100% !important;
    }

    #redeem-v2 .form {
        margin-top: 15px;
    }

    .right .buttons .btn.btn-secondary {
        width: 45% !important; 
    }

    .exceeded-limit-container .buttons .btn.btn-secondary, .right .buttons .btn.btn-secondary {
        border-bottom-width: thin !important;

        align-items: center !important;
        font-family: 'Roboto Condensed' !important;
        text-transform: capitalize !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        border-radius: 4px !important;
        background: white !important;
        border: 1px solid !important;
        height: 48px !important;
    }

    .exceeded-limit-container .buttons .btn.btn-secondary {
        width: 100% !important;
    }

    .buttons .btn.btn-danger {
        border-bottom-width: thin !important;
        font-family: 'Roboto Condensed' !important;
        text-transform: lowercase !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 100% !important;
        color: #FFFFFF !important;
        align-items: center !important;
        padding: 12px 20px !important;
        gap: 8px !important;
        width: 45% !important;
        height: 48px !important;
        background: rgba(25, 28, 35, 0.9) !important;
        border-radius: 4px !important;
        color: #fff !important;
        border: 1px solid #700c1b !important;
    }

    .close-container .btn.btn-secondary {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 12px 20px !important;
        gap: 8px !important;
        width: 100% !important;
        height: 20px !important;
        font-family: 'Roboto Condensed' !important;
        text-transform: capitalize !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 100% !important;
        color: #FFFFFF !important;
        height: 48px !important;
        background: black !important;
    }

    .sold-out p, .underage-explanation p, .exceeded-limit-container p {
        margin-top: 20px !important;
    }



    .widget .header h3 {
        width: 100% !important;
        height: auto !important;

        /* nba/headline-05 */

        font-family: 'Knockout' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 32px !important;
        line-height: 80% !important;
        /* identical to box height, or 26px */

        text-transform: uppercase !important;
        font-feature-settings: 'ss02' on !important;

        /* web--light/on-background */

        color: #000000 !important;
    }

    .widget .header {
        background-color: #FFF !important;
        border-bottom: 1px solid #DADDDE !important;
        padding-bottom: 11px !important;
        position: initial !important;
    }
}

@media only screen and (min-width: 500px) {
    .widget .container {
        padding: 60px 10px 50px 15px !important;
    }
    #redeem-v2 h2 {
        width: 351px !important;
        height: 19px !important;
        font-family: 'Knockout' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 24px !important;
        line-height: 80% !important;
        text-transform: uppercase !important;
        font-feature-settings: 'ss02' on !important;
        color: #000000 !important;
        position: absolute !important;
        left: 45% !important;
    }

    #redeem-v2 .left {
        width: 239px !important;
        height: auto !important;
        top: 22% !important;
    }

    #redeem-v2 .left img {
        width: 239px !important;
        height: 133px !important;
    }

    #redeem-v2 #details .description,
    #redeem-v2 #review .email-address-info,
    #redeem-v2 #confirmation .explain-redeem-success {
        width: 345px !important;
        height: auto !important;

        border: none !important;
        padding: 0 !important;
        margin: 0 !important;

        font-family: 'SF Pro Text' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 120% !important;
        margin-top: -80px !important;
    }

    #redeem-v2 .right {
        position: relative !important;
        width: 80% !important;
        left: 45% !important;
        width: 351px !important;
        height: auto !important;
    }

    .submit button.btn {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 12px 20px !important;
        gap: 8px !important;
        width: 351px !important;
        height: 48px !important;
        background: rgba(25, 28, 35, 0.9) !important;
        border-radius: 4px !important;

        font-family: 'Roboto Condensed' !important;
        text-transform: capitalize !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 100% !important;
    }

    #redeem-v2 .form {
        /* float: right !important; */
        margin-top: 15px !important;
    }

    .right .buttons .btn.btn-secondary {
        width: 167.5px !important;
    }

    .exceeded-limit-container .buttons .btn.btn-secondary, .right .buttons .btn.btn-secondary { 
        border-bottom-width: thin !important;
        align-items: center !important;
        font-family: 'Roboto Condensed' !important;
        text-transform: capitalize !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        border-radius: 4px !important;
        background: white !important;
        border: 1px solid !important;
        
        height: 48px !important;
    }

    .exceeded-limit-container .buttons .btn.btn-secondary { 
        width: 100% !important;
    }

    .buttons .btn.btn-danger {
        border-bottom-width: thin !important;
        width: 49px !important;
        height: 20px !important;
        font-family: 'Roboto Condensed' !important;
        text-transform: lowercase !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 100% !important;
        color: #FFFFFF !important;
        align-items: center !important;
        padding: 12px 20px !important;
        gap: 8px !important;
        width: 167.5px !important;
        height: 48px !important;
        background: rgba(25, 28, 35, 0.9) !important;
        border-radius: 4px !important;
        color: #fff !important;
        border: 1px solid #700c1b !important;
    }

    .close-container .btn.btn-secondary {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 12px 20px !important;
        gap: 8px !important;
        width: 351px !important;
        height: 20px !important;
        font-family: 'Roboto Condensed' !important;
        text-transform: capitalize !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 100% !important;
        color: #FFFFFF !important;
        height: 48px !important;
        background: black !important;
    }

    .sold-out p, .underage-explanation p {
        width: 345px !important;
        margin-top: 20px;
    }

    .exceeded-limit-container p {
        margin-top: 4% !important;
    }

    .widget .header h3 {
        width: 598px !important;
        height: 26px !important;

        /* nba/headline-05 */

        font-family: 'Knockout' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 32px !important;
        line-height: 80% !important;
        /* identical to box height, or 26px */

        text-transform: uppercase !important;
        font-feature-settings: 'ss02' on !important;

        /* web--light/on-background */

        color: #000000 !important;
    }

    .widget .header {
        background-color: #FFF !important;
        border-bottom: 1px solid #DADDDE !important;
        padding-bottom: 11px !important;
    }
}

.sold-out p, .underage-explanation p, .exceeded-limit-container p {
    color: red !important;
    font-family: 'SF Pro Text' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 16px !important;
        line-height: 120% !important;
}

.email-address-info::before {
    content: 'This email is eligible : ';
    font-size: 13px;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 120% !important;
}

span#email-address-label {
    display: none;
}

#redeem-v2 .container {
    position: relative !important;
}

button[aria-label="Close Modal"] {
    position: relative;
    right: 15px;
    bottom: -37px;
    color: rgba(25, 28, 35, 0.9) !important;
}

#redeem-v2 .left {
    text-align: unset !important;
}



#redeem-v2 .additional-images .image-thumb {
    display: none !important;
}

#redeem-v2 .numeric-details {
    display: none !important;
}

/* fieldset {
    display: none !important;
} */

.phone-info fieldset:first-child {
    display: block !important;
    margin-top: 0px !important;
}

form fieldset:first-child { 
    display: none !important;
}

.submit button.btn:hover {
    background: white !important;
    color: black !important;
    border: 1px solid !important;
}

#redeem-v2 #review .buttons {
    text-align: center !important;
}

#redeem-v2 #review .buttons .btn:not(:last-child) {
    margin-right: 10px !important;
}

.buttons .btn.btn-secondary:hover {
    background: black !important;
    color: white !important;
}

.buttons .btn.btn-danger:first-letter {
    text-transform: capitalize !important;
}


.buttons .btn.btn-danger:hover {
    background: white !important;
    color: black !important;
}

/* #redeem-v2 #confirmation .right {
    top: 22% !important;
    position: absolute !important;
} */



.close-container .btn.btn-secondary:hover {
    background: white !important;
    color: black !important;
    border: 1px solid !important;
}

#redeem-v2 #review .phone-info {
    padding: 0px !important;
    border-bottom: 0px !important;
}

#redeem-v2 fieldset.side-by-side {
    width: 98% !important;
}

input#mobile-phone {
    background: #FFF !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}

input#mobile-phone:focus-visible {
    outline: none !important;
}

#redeem-v2 #confirmation .explain-redeem-success span::nth-child(2),
#redeem-v2 #confirmation .explain-redeem-success span::nth-child(3) {
    display: none !important;
}
