#activity-list-v2 .activity {
    display: inline-grid;
    width: min-content;
}

#activity-list-v2 .image-container {
    height: auto;
    width: auto;
    border-radius: initial;
}

#activity-list-v2 .image-container img {
    display: block;
    margin: auto;
}

#activity-list-v2 .info-container {
    max-width: initial;
    text-align: center;
}

#activity-list-v2 .activity .title {
    margin: 10px 0 10px 0;
}

#activity-list-v2 .activity .description {
    text-align: left;
}

.ct-points-color {
    margin: 5px 0 5px 0;
}
