.widget .header {
    background-color: white !important;
    border: none !important;
}

.widget .header h1,
.widget .header h3 {
    width: 598px !important;
    height: 26px !important;

    /* nba/headline-05 */

    font-family: 'Knockout' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 80% !important;
    /* identical to box height, or 26px */

    text-transform: uppercase !important;
    font-feature-settings: 'ss02' on;
}

 .container hr {
    border: 1px solid #DADDDE !important;
}

 .container .description {
    width: 598px !important;
    height: 17px !important;

    /* nba/body-00 */

    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 120% !important;
}

 .question-container .question-text, legend {
    width: 236px !important;
    height: 19px !important;

    /* ios/body--strong-01 */

    font-family: 'SF Pro Display' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 120% !important;
    margin-top: 16px !important;
    margin-bottom: 35px !important;
}

 .question-container .directions {
    display: none !important;
}

 .question-container .image-wrapper {
    vertical-align: text-top !important;

}

 .answer-options .answer-option-text {
    position: absolute !important;
    top: 5% !important;
    left: 5% !important;
    vertical-align: middle !important;
    /* width: 132px; */
    /* height: 17px; */
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    /* line-height: 120%; */
    /* display: flex; */
    align-items: center !important;
}

 .question-type-radio label.answer-option-wrapper {
    margin: 10px 0 !important;
}

 .submit-container {
    float: none !important;
}

 .submit-container button {
    margin-top: 24px !important;

    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 12px 20px !important;
    gap: 8px !important;

    width: 327px !important;
    height: 48px !important;

    /* web--light/button */

    background: rgba(25, 28, 35, 0.9) !important;
    border-radius: 4px !important;

    font-family: 'Roboto Condensed' !important;
    font-style: normal !important;
    font-size: 20px !important;
    line-height: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flow-root !important;
}

.question-container input[type=text] {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 24px !important;
    gap: 24px !important;

    width: 598px !important;
    height: 48px !important;

    /* web--light/canvas */

    background: #F3F4F5 !important;
    border-radius: 4px !important;

    /* Inside auto layout */

    flex: none !important;
    order: 0 !important;
    align-self: stretch !important;
    flex-grow: 0 !important;
}

#survey-v2 .image-enabled .image-wrapper img {
    position: absolute !important;
    top: 75% !important;
}
#survey-v3
    > div.container
    > form
    > fieldset
    > div.submit-container
    > button:hover {
    background-color: white !important;
    color: black !important;
    opacity: 1 !important;
  }
